
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= render "devise/shared/form", :f => f %>

  <div class="actions">
    <%= f.submit "Update" ,:class => "btn btn-lg btn-primary btn-block" %>
  </div>

 <h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
<% end %>


