
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<h2>Sign up</h2>

   <%= render "devise/shared/form", :f => f %>

  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-lg btn-primary btn-block" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>


