
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<h2>Sing In</h2>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "Email address" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" , :class => "form-control", :placeholder => :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => "btn btn-lg btn-primary btn-block" %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>


